html {
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
  background: url("images/orange.jpg") repeat;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
	text-align: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: auto;
	max-width: 1200px;
	grid-gap: 15px;
	gap: 15px;
}

div {
	margin: auto;
	text-align: center;
	padding: 5px;
}

div * {
	display: block;
	margin: auto;
}

div a {
	border-radius: 50%;
}

div img {
	border-radius: 50%;
	border: 1px solid black;
	width: 100%;
	height: 100%;
}

div > *:first-child {
	height: 50px;
	max-width: 230px;
}

@media screen and (hover: hover) {
	main {
		grid-gap: 0;
		gap: 0;
	}
	
	div a {
		opacity: 0.5;
		transform: scale(0.8);
		transition: 1s all;
	}
	
	div a:hover {
		opacity: 1;
		transform: scale(1);
	}
}

@media screen and (max-width: 800px) {
	main {
		grid-template-columns: 1fr 1fr;
	}
}